#units {
    background-color: #E6FFE6;
    border:3px solid #435d43;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: #435d43;
    font-family: "Press Start 2P";
}

.title {
    color: #435d43;
    font-family: "Press Start 2P";
}

body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #85b885;
}

#face {
    width: 60%;
}

#temperature-container1, #temperature-container2 {
    position: relative;
    display: inline-block;
    transform: translateX(12px);
}
  
.temperature-image {
    display: block;
    bottom: 0;
    width: 100%;
    height: auto;
}
  
.temperature {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Press Start 2P";
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

#temperature-container1 {
    animation: bounce 8s infinite;
    padding-left: 20px;
}

@keyframes bounce {
    0%   { top: -230px; }
    50%  { top: 150px; }
    100% { top: -230px; }
}
